#header .logo img {
    max-height: 70px;
}

#pgib{
    /* background: rgb(255, 255, 255);
    background-size: cover; */
    padding: 60px 0 40px 0;
    /* position: relative; */
}

/* #pgib::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgb(241, 239, 239);
    z-index: 9;
}

#pgib .container {
    position: relative;
    z-index: 10;
} */

#pengumuman {
    padding: 60px 40px 40px 0;
}

#pengumuman .table-responsive{
    background: #fff;
    background-size: cover;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
}

#pengumuman .img-pengumuman{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100px;
}

#ibadah {
    padding: 60px 0 40px 40px;
}

#ibadah .table-responsive{
    background: #fff;
    background-size: cover;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
}

#ibadah .img-ibadah{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100px;
}

#tentang{
    background: url("../img/bg-pbsd.jpeg") center top no-repeat fixed;
    background-size: cover;
    padding: 60px 0 40px 0;
    position: relative;
}

#tentang::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.92);
    z-index: 9;
}

#tentang .container {
    position: relative;
    z-index: 10;
}

#tentang .tentang-col {
    background: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
    margin-bottom: 20px;
    height: 515px;
}

#tentang .tentang-col .img {
    position: relative;
}

#tentang .tentang-col .img img {
    border-radius: 4px 4px 0 0;
    height: 270px;
}

#tentang .tentang-col .icon {
    width: 64px;
    height: 64px;
    padding-top: 8px;
    text-align: center;
    position: absolute;
    background-color: #18d26e;
    border-radius: 50%;
    text-align: center;
    border: 4px solid #fff;
    left: calc( 50% - 32px);
    bottom: -30px;
    transition: 0.3s;
}

#tentang .tentang-col i {
    font-size: 36px;
    line-height: 1;
    color: #fff;
    transition: 0.3s;
}

#tentang .tentang-col:hover .icon {
    background-color: #fff;
}

#tentang .tentang-col:hover i {
    color: #18d26e;
}

#tentang .tentang-col h2 {
    color: #000;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    padding: 0;
    margin: 40px 0 12px 0;
}

#tentang .tentang-col h2 a {
    color: #000;
}

#tentang .tentang-col h2 a:hover {
    color: #18d26e;
}

#tentang .tentang-col p {
    font-size: 14px;
    line-height: 24px;
    color: #333;
    margin-bottom: 0;
    padding: 0 20px 20px 20px;
}

#galeri {
    padding: 60px 0;
}

#galeri #galeri-flters {
    padding: 0;
    margin: 5px 0 35px 0;
    list-style: none;
    text-align: center;
}

#galeri #galeri-flters li {
    cursor: pointer;
    margin: 15px 15px 15px 0;
    display: inline-block;
    padding: 10px 20px;
    font-size: 12px;
    line-height: 20px;
    color: #666666;
    border-radius: 4px;
    text-transform: uppercase;
    background: #fff;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
}

#galeri #galeri-flters li:hover, #galeri #galeri-flters li.filter-active {
    background: #18d26e;
    color: #fff;
}

#galeri #galeri-flters li:last-child {
    margin-right: 0;
}

#galeri .galeri-wrap {
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
}

#galeri .galeri-wrap:hover {
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16);
}

#galeri .galeri-item {
    position: relative;
    height: 360px;
    overflow: hidden;
}

#galeri .galeri-item figure {
    background: #000;
    overflow: hidden;
    height: 240px;
    position: relative;
    border-radius: 4px 4px 0 0;
    margin: 0;
}

#galeri .galeri-item figure:hover img {
    opacity: 0.4;
    transition: 0.3s;
}

#galeri .galeri-item figure .link-preview, #galeri .galeri-item figure .link-details {
    position: absolute;
    display: inline-block;
    opacity: 0;
    line-height: 1;
    text-align: center;
    width: 36px;
    height: 36px;
    background: #fff;
    border-radius: 50%;
    transition: 0.2s linear;
}

#galeri .galeri-item figure .link-preview i, #galeri .galeri-item figure .link-details i {
    padding-top: 6px;
    font-size: 22px;
    color: #333;
}

#galeri .galeri-item figure .link-preview:hover, #galeri .galeri-item figure .link-details:hover {
    background: #18d26e;
}

#galeri .galeri-item figure .link-preview:hover i, #galeri .galeri-item figure .link-details:hover i {
    color: #fff;
}

#galeri .galeri-item figure .link-preview {
    left: calc(50% - 38px);
    top: calc(50% - 18px);
}

#galeri .galeri-item figure .link-details {
    right: calc(50% - 38px);
    top: calc(50% - 18px);
}

#galeri .galeri-item figure:hover .link-preview {
    opacity: 1;
    left: calc(50% - 44px);
}

#galeri .galeri-item figure:hover .link-details {
    opacity: 1;
    right: calc(50% - 44px);
}

#galeri .galeri-item .galeri-info {
    background: #fff;
    text-align: center;
    padding: 30px;
    height: 90px;
    border-radius: 0 0 3px 3px;
}

#galeri .galeri-item .galeri-info h4 {
    font-size: 18px;
    line-height: 1px;
    font-weight: 700;
    margin-bottom: 18px;
    padding-bottom: 0;
}

#galeri .galeri-item .galeri-info h4 a {
    color: #333;
}

#galeri .galeri-item .galeri-info h4 a:hover {
    color: #18d26e;
}

#galeri .galeri-item .galeri-info p {
    padding: 0;
    margin: 0;
    color: #b8b8b8;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
}

/* #baptis {
    padding: 60px 40px 40px 0;
}

#baptis .table-responsive{
    background: #fff;
    background-size: cover;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
}

#baptis .img-baptis{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100px;
}

#sidi {
    padding: 60px 0 40px 40px;
}

#sidi .table-responsive{
    background: #fff;
    background-size: cover;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
}

#sidi .img-sidi{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100px;
}

#nikah {
    background: #fff;
    background-size: cover;
    padding: 60px 0 40px 0;
}

#nikah .img-nikah{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100px;
} */